/*
------------------------
FastQ to Hisat2 Pipeline
------------------------

This pipeline recreate the simple RNA-Seq pipeline available at 
https://github.com/darogan/ConstructingComputationalPipelines

Copyright Russell S. Hamilton, 2017, rsh46@cam.ac.uk
*/


#fastqc
#trim_galore
	#hisat2
		#htseq-counts
		#qualimap_rnaseq
>multiqc
